<nav>
    <ul>
        <li>
            <a href="/home" {{#if active.home }} class="active" {{/if}}>Home</a>
        </li>
         <li>
            <a href="/about" {{#if active.about }} class="active" {{/if}}>About</a>
        </li>
         <li>
            <a href="/contact" {{#if active.contact }} class="active" {{/if}}>Contact</a>
        </li>
    </ul>
</nav>

