body {
  display: grid;
  grid-template-rows: auto auto 50px;
}

header.header {
  grid-row: 1;
  background-color: var(--primary);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;

  .brand {
    color: #fff;

    span {
      font-family: 'Montserrat';
      font-size: 0.8rem;
      font-weight: 300;
    }

    span:nth-child(1) {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  nav {
    margin-left: 2rem;
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      li {
        transition: background-color 300ms ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.2);
        }

        a {
          display: block;
          padding: 1rem;
          color: #fff;
          text-decoration: none;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 0.8rem;

          &.active {
            background-color: var(--dark-gray);
          }
        }
      }
    }
  }
}

main {
  grid-row: 2;
  position: relative;
  padding: 2rem;
}

footer {
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  small {
    font-family: 'Montserrat';
    font-size: 0.8rem;
    font-weight: 400;
  }
}
