:root {
  --primary: #0984e3;
  --primary-light: #74b9ff;
  --danger: #d63031;
  --warning: #fdcb6e;
  --info: #00cec9;
  --light-gray: #dfe6e9;
  --gray: #b2bec3;
  --dark-gray: #636e72;

  --font-color: #2d3436;
}
